<div fxFill fxLayout="column">
  <div class="app-header app-header--carbon">
    <div class="app-productive-heading-04">Service List</div>
  </div>
  <div fxFlex class="relative px-4 pb-4 pt-2">
    <ng-container *ngIf="!loading">
      <dx-data-grid #grid
                    id="gridContainer"
                    [dataSource]="serviceList"
                    keyExpr="ServiceID"
                    [hoverStateEnabled]="true"
                    [showBorders]="true"
                    [selectedRowKeys]="[]">
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-editing mode="popup"
                     [allowUpdating]="true"
                     [allowAdding]="true"
                     [allowDeleting]="true">
          <dxo-popup title="Service Info"
                     [showTitle]="true"
                     [width]="700"
                     [height]="525">
          </dxo-popup>
          <dxo-form>
            <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
              <dxi-item dataField="ServiceName"></dxi-item>

              <dxi-item dataField="Description"
                        editorType="dxTextArea"
                        [colSpan]="2"
                        [editorOptions]="{ height: 100 }">
              </dxi-item>
              <dxi-item dataField="IsActive"></dxi-item>

            </dxi-item>

          </dxo-form>
        </dxo-editing>

        <dxo-selection mode="single"></dxo-selection>
        <dxi-column dataField="ServiceName"></dxi-column>
        <dxi-column dataField="Description"></dxi-column>
        <dxi-column dataField="IsActive"></dxi-column>
      </dx-data-grid>
    </ng-container>
  </div>
</div>
